<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login to IP Camera Setup</title>
    <!-- Bootstrap core CSS-->
    <link href="~/content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- content fonts for this template-->
    <link href="~/content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- content styles for this template-->
    <link href="~/content/css/sb-admin.css" rel="stylesheet">
</head>

    <body class="bg-dark">
        <div class="container">
            @RenderBody()
            
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="~/content/vendor/jquery/jquery.min.js"></script>
        <script src="~/content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/content/vendor/jquery-easing/jquery.easing.min.js"></script>
    </body>

  
</html>
