
@{
    ViewBag.Title = "nopermission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-left:15px;">Permission Denied</h2>
<br>
<p style="margin-left:15px;">Sorry, you are not authorized to access this page.</p>

